<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuomingfen.springboot.mapper.AccountMapper">
  <resultMap id="BaseResultMap" type="com.tuomingfen.springboot.model.Account">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="chuxu_zhaoshang" jdbcType="DOUBLE" property="chuxuZhaoshang" />
    <result column="chuxu_gongshang" jdbcType="DOUBLE" property="chuxuGongshang" />
    <result column="chuxu_jiaotong" jdbcType="DOUBLE" property="chuxuJiaotong" />
    <result column="xinyong_jiaotong" jdbcType="DOUBLE" property="xinyongJiaotong" />
    <result column="weixin_lingqian" jdbcType="DOUBLE" property="weixinLingqian" />
    <result column="weixin_licai" jdbcType="DOUBLE" property="weixinLicai" />
    <result column="alipay_yeb" jdbcType="DOUBLE" property="alipayYeb" />
    <result column="alipay_licai" jdbcType="DOUBLE" property="alipayLicai" />
    <result column="alipay2_yeb" jdbcType="DOUBLE" property="alipay2Yeb" />
    <result column="alipay2_licai" jdbcType="DOUBLE" property="alipay2Licai" />
    <result column="qq_qianbao" jdbcType="DOUBLE" property="qqQianbao" />
    <result column="qq_licai" jdbcType="DOUBLE" property="qqLicai" />
    <result column="insert_date" jdbcType="TIMESTAMP" property="insertDate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.tuomingfen.springboot.model.Account">
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>
  <!--<sql id="Base_Column_List">-->
    <!--id, uid, date, chuxu_zhaoshang, chuxu_gongshang, chuxu_jiaotong, xinyong_jiaotong, -->
    <!--weixin_lingqian, weixin_licai, alipay_yeb, alipay_licai, alipay2_yeb, alipay2_licai, -->
    <!--qq_qianbao, qq_licai, insert_date-->
  <!--</sql>-->
  <!--<sql id="Blob_Column_List">-->
    <!--note-->
  <!--</sql>-->


  <insert id="insert" parameterType="com.tuomingfen.springboot.model.Account">
    insert into my_account_table (id, uid, date ,
    chuxu_zhaoshang, chuxu_gongshang, chuxu_jiaotong,
    xinyong_jiaotong, weixin_lingqian, weixin_licai,
    alipay_yeb, alipay_licai, alipay2_yeb,
    alipay2_licai, qq_qianbao, qq_licai,
    insert_date, note)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{date,jdbcType=TIMESTAMP},
    #{chuxuZhaoshang,jdbcType=DOUBLE}, #{chuxuGongshang,jdbcType=DOUBLE}, #{chuxuJiaotong,jdbcType=DOUBLE},
    #{xinyongJiaotong,jdbcType=DOUBLE}, #{weixinLingqian,jdbcType=DOUBLE}, #{weixinLicai,jdbcType=DOUBLE},
    #{alipayYeb,jdbcType=DOUBLE}, #{alipayLicai,jdbcType=DOUBLE}, #{alipay2Yeb,jdbcType=DOUBLE},
    #{alipay2Licai,jdbcType=DOUBLE}, #{qqQianbao,jdbcType=DOUBLE}, #{qqLicai,jdbcType=DOUBLE},
    #{insertDate,jdbcType=TIMESTAMP}, #{note,jdbcType=LONGVARCHAR})
  </insert>



  <!--<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">-->
    <!--select -->
    <!--<include refid="Base_Column_List" />-->
    <!--,-->
    <!--<include refid="Blob_Column_List" />-->
    <!--from my_account_table-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</select>-->
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">-->
    <!--delete from my_account_table-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</delete>-->

  <!--<insert id="insertSelective" parameterType="com.tuomingfen.springboot.modell.Account">-->
    <!--insert into my_account_table-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--id,-->
      <!--</if>-->
      <!--<if test="uid != null">-->
        <!--uid,-->
      <!--</if>-->
      <!--<if test="date != null">-->
        <!--date,-->
      <!--</if>-->
      <!--<if test="chuxuZhaoshang != null">-->
        <!--chuxu_zhaoshang,-->
      <!--</if>-->
      <!--<if test="chuxuGongshang != null">-->
        <!--chuxu_gongshang,-->
      <!--</if>-->
      <!--<if test="chuxuJiaotong != null">-->
        <!--chuxu_jiaotong,-->
      <!--</if>-->
      <!--<if test="xinyongJiaotong != null">-->
        <!--xinyong_jiaotong,-->
      <!--</if>-->
      <!--<if test="weixinLingqian != null">-->
        <!--weixin_lingqian,-->
      <!--</if>-->
      <!--<if test="weixinLicai != null">-->
        <!--weixin_licai,-->
      <!--</if>-->
      <!--<if test="alipayYeb != null">-->
        <!--alipay_yeb,-->
      <!--</if>-->
      <!--<if test="alipayLicai != null">-->
        <!--alipay_licai,-->
      <!--</if>-->
      <!--<if test="alipay2Yeb != null">-->
        <!--alipay2_yeb,-->
      <!--</if>-->
      <!--<if test="alipay2Licai != null">-->
        <!--alipay2_licai,-->
      <!--</if>-->
      <!--<if test="qqQianbao != null">-->
        <!--qq_qianbao,-->
      <!--</if>-->
      <!--<if test="qqLicai != null">-->
        <!--qq_licai,-->
      <!--</if>-->
      <!--<if test="insertDate != null">-->
        <!--insert_date,-->
      <!--</if>-->
      <!--<if test="note != null">-->
        <!--note,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--#{id,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="uid != null">-->
        <!--#{uid,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="date != null">-->
        <!--#{date,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="chuxuZhaoshang != null">-->
        <!--#{chuxuZhaoshang,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="chuxuGongshang != null">-->
        <!--#{chuxuGongshang,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="chuxuJiaotong != null">-->
        <!--#{chuxuJiaotong,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="xinyongJiaotong != null">-->
        <!--#{xinyongJiaotong,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="weixinLingqian != null">-->
        <!--#{weixinLingqian,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="weixinLicai != null">-->
        <!--#{weixinLicai,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="alipayYeb != null">-->
        <!--#{alipayYeb,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="alipayLicai != null">-->
        <!--#{alipayLicai,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="alipay2Yeb != null">-->
        <!--#{alipay2Yeb,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="alipay2Licai != null">-->
        <!--#{alipay2Licai,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="qqQianbao != null">-->
        <!--#{qqQianbao,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="qqLicai != null">-->
        <!--#{qqLicai,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="insertDate != null">-->
        <!--#{insertDate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="note != null">-->
        <!--#{note,jdbcType=LONGVARCHAR},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.tuomingfen.springboot.modell.Account">-->
    <!--update my_account_table-->
    <!--<set>-->
      <!--<if test="uid != null">-->
        <!--uid = #{uid,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="date != null">-->
        <!--date = #{date,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="chuxuZhaoshang != null">-->
        <!--chuxu_zhaoshang = #{chuxuZhaoshang,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="chuxuGongshang != null">-->
        <!--chuxu_gongshang = #{chuxuGongshang,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="chuxuJiaotong != null">-->
        <!--chuxu_jiaotong = #{chuxuJiaotong,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="xinyongJiaotong != null">-->
        <!--xinyong_jiaotong = #{xinyongJiaotong,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="weixinLingqian != null">-->
        <!--weixin_lingqian = #{weixinLingqian,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="weixinLicai != null">-->
        <!--weixin_licai = #{weixinLicai,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="alipayYeb != null">-->
        <!--alipay_yeb = #{alipayYeb,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="alipayLicai != null">-->
        <!--alipay_licai = #{alipayLicai,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="alipay2Yeb != null">-->
        <!--alipay2_yeb = #{alipay2Yeb,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="alipay2Licai != null">-->
        <!--alipay2_licai = #{alipay2Licai,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="qqQianbao != null">-->
        <!--qq_qianbao = #{qqQianbao,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="qqLicai != null">-->
        <!--qq_licai = #{qqLicai,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="insertDate != null">-->
        <!--insert_date = #{insertDate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="note != null">-->
        <!--note = #{note,jdbcType=LONGVARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tuomingfen.springboot.modell.Account">-->
    <!--update my_account_table-->
    <!--set uid = #{uid,jdbcType=INTEGER},-->
      <!--date = #{date,jdbcType=TIMESTAMP},-->
      <!--chuxu_zhaoshang = #{chuxuZhaoshang,jdbcType=DOUBLE},-->
      <!--chuxu_gongshang = #{chuxuGongshang,jdbcType=DOUBLE},-->
      <!--chuxu_jiaotong = #{chuxuJiaotong,jdbcType=DOUBLE},-->
      <!--xinyong_jiaotong = #{xinyongJiaotong,jdbcType=DOUBLE},-->
      <!--weixin_lingqian = #{weixinLingqian,jdbcType=DOUBLE},-->
      <!--weixin_licai = #{weixinLicai,jdbcType=DOUBLE},-->
      <!--alipay_yeb = #{alipayYeb,jdbcType=DOUBLE},-->
      <!--alipay_licai = #{alipayLicai,jdbcType=DOUBLE},-->
      <!--alipay2_yeb = #{alipay2Yeb,jdbcType=DOUBLE},-->
      <!--alipay2_licai = #{alipay2Licai,jdbcType=DOUBLE},-->
      <!--qq_qianbao = #{qqQianbao,jdbcType=DOUBLE},-->
      <!--qq_licai = #{qqLicai,jdbcType=DOUBLE},-->
      <!--insert_date = #{insertDate,jdbcType=TIMESTAMP},-->
      <!--note = #{note,jdbcType=LONGVARCHAR}-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.tuomingfen.springboot.modell.Account">-->
    <!--update my_account_table-->
    <!--set uid = #{uid,jdbcType=INTEGER},-->
      <!--date = #{date,jdbcType=TIMESTAMP},-->
      <!--chuxu_zhaoshang = #{chuxuZhaoshang,jdbcType=DOUBLE},-->
      <!--chuxu_gongshang = #{chuxuGongshang,jdbcType=DOUBLE},-->
      <!--chuxu_jiaotong = #{chuxuJiaotong,jdbcType=DOUBLE},-->
      <!--xinyong_jiaotong = #{xinyongJiaotong,jdbcType=DOUBLE},-->
      <!--weixin_lingqian = #{weixinLingqian,jdbcType=DOUBLE},-->
      <!--weixin_licai = #{weixinLicai,jdbcType=DOUBLE},-->
      <!--alipay_yeb = #{alipayYeb,jdbcType=DOUBLE},-->
      <!--alipay_licai = #{alipayLicai,jdbcType=DOUBLE},-->
      <!--alipay2_yeb = #{alipay2Yeb,jdbcType=DOUBLE},-->
      <!--alipay2_licai = #{alipay2Licai,jdbcType=DOUBLE},-->
      <!--qq_qianbao = #{qqQianbao,jdbcType=DOUBLE},-->
      <!--qq_licai = #{qqLicai,jdbcType=DOUBLE},-->
      <!--insert_date = #{insertDate,jdbcType=TIMESTAMP}-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
</mapper>